/*
	Navigation / header styles
*/

/* Desktop (aka non-mobile specific styles) */
.desktopMenu {
  @apply hidden w-full mx-auto md:flex md:bg-transparent;
}
.desktopActionMenu {
  @apply justify-between hidden space-x-2 md:flex;
}

/* Mobile specific styles */
.mobileMenu {
  @apply w-full mx-auto border-b border-gray-800 shadow-lg;
  @apply md:hidden md:bg-transparent;
}
.mobileActionMenu {
  @apply flex items-center justify-between md:hidden;
  @apply space-x-4;
}
.dropdownActive {
  @apply fixed left-0;
  @apply bg-white;
  /* todo: this `top` value is a hack to allow the mobile nav to display properly */
  @apply top-14;
}
.dropdownInactive {
  @apply hidden;
}

.nav {
  /* @apply relative; */
  @apply sticky top-0 z-10;
  @apply lg:relative;
  @apply bg-white;

  @apply flex items-center justify-between w-full h-16;
  @apply border-b border-gray-300;
  /* @apply md:px-8; */
  /* @apply fixed top-0 z-20 bg-color-dark; */
  /* @apply border-b border-gray-400 shadow-md md:shadow-none md:border-0; */
}
.overlay {
  @apply fixed inset-0 z-20;
  @apply bg-white/5 backdrop-blur-sm;
}

.inner {
  @apply z-30 w-full;
  @apply flex items-center justify-between mx-auto;
  @apply gap-2;
  /* @apply px-4 space-x-5 space-y-0 md:py-2; */
}
.linksListing {
  @apply items-center flex-1 mr-0 flex md:mr-2 md:space-x-8;
  @apply justify-between md:justify-start;
}

.nav a {
  @apply no-underline hover:no-underline;
}

.link {
  @apply flex items-center;
  @apply transition-colors duration-150 ease-in-out;
  @apply no-underline border-transparent;
  @apply hover:text-hot-pink;
  /* focus:outline-none focus:shadow-outline */
}
.subNavLink {
  @apply px-4 py-2 md:px-6 space-x-0;
  @apply text-base;
  @apply border-b-[3px];
}

/* styles for the horizontal scrolling on mobile */
.horizontalScrollContainer {
  @apply snap-x snap-mandatory;
  @apply flex flex-row space-x-6 lg:space-x-0;
  @apply overflow-x-scroll md:overflow-auto;
}

.activeLink {
  @apply text-hot-pink;
  @apply border-hot-pink;
  /* @apply bg-gray-100; */
  @apply font-semibold;
}
.inactiveLink {
  @apply hover:text-hot-pink;
  @apply hover:border-hot-pink;
  /* @apply hover:bg-gray-100; */
}
