@tailwind base;
@tailwind components;

html {
  scroll-behavior: smooth;
  @apply overflow-x-hidden;
}

body {
  /* @apply bg-gray-100; */
  background-color: #fffafa;
  /* background-image: url("/img/background.png");
  @apply bg-center bg-fixed; */
}

.container {
  @apply mx-auto max-w-7xl;
  @apply px-5 py-8;
}
.page-container {
  @apply container min-h-[90vh];
  @apply space-y-8 md:space-y-20;
}

.input,
textarea,
input[type="url"],
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  @apply px-3 py-2 rounded-lg;
  @apply border bg-white border-gray-300;
  @apply disabled:pointer-events-none disabled:opacity-60;
}
.input-default {
  @apply bg-white border border-gray-300;
}

.prefix-input {
  @apply input input-default;
  @apply inline-flex max-w-full overflow-hidden relative items-center p-0;
}
.prefix-input label,
.prefix-input .label {
  @apply input;
  @apply !bg-gray-100 !text-gray-400 px-2;
  @apply rounded-r-none !border-transparent !border-r-gray-300 border-r;
  @apply flex-shrink-0;
}

.prefix-input .input-box {
  @apply !px-2 !rounded-l-none !border-transparent;
  @apply flex-grow;
}

.btn {
  @apply flex items-center gap-2;
  @apply px-5 py-2 rounded-lg;
  @apply border bg-transparent border-transparent;
  @apply hover:bg-opacity-90 hover:border-opacity-90;
}
.btn:disabled {
  @apply opacity-70;
  @apply pointer-events-none;
}

.btn-blue {
  @apply bg-blue-500 border-blue-200 text-white;
}
.btn-black {
  @apply bg-gray-900 border-blue-200 text-white;
}
.btn-hot-pink {
  @apply bg-hot-pink border-hot-pink text-white;
}
.btn-ghost {
  @apply bg-transparent border-gray-300;
  @apply hover:border-gray-400 disabled:text-gray-500;
}

.prose-cover-image {
  max-width: 60rem;
  --child-width: 60rem;
  /* todo: handle different screen sizes */
}
.prose a {
  @apply hover:text-hot-pink hover:underline;
}
.prose img {
  --child-width: 120%;
  @apply md:max-w-[120%];
  @apply rounded-2xl overflow-hidden border border-gray-400 bg-slate-500;
  @apply child-past-parent;
}
.child-past-parent {
  @apply w-[100vw] relative;
}
@media (min-width: 768px) {
  .child-past-parent {
    left: calc(-0.5 * var(--child-width) + 50%);
  }
}

/* 
  Globally reusable component styles
*/
.card {
  @apply bg-white border border-gray-300;
  @apply p-5 rounded-lg;
  @apply space-y-1;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.icon {
  @apply icon-base;
  /* @apply text-gray-100 hover:text-gray-100; */
  @apply text-gray-800 hover:text-gray-800;
}
.icon-xs {
  @apply w-3 h-3;
}
.icon-sm {
  @apply w-5 h-5;
}
.icon-base,
.icon-md {
  @apply w-6 h-6;
}
.icon-lg {
  @apply w-9 h-9;
}
.icon-xl {
  @apply w-16 h-16;
}
.icon-2xl {
  @apply w-20 h-20;
}
.avatar {
  @apply rounded-full;
  @apply flex-shrink-0 block overflow-hidden bg-gray-400;
}
.avatar img {
  @apply w-full;
}
.avatar-sm {
  @apply w-16 h-16;
}
.avatar-base {
  @apply w-24 h-24;
}
.avatar-md {
  @apply w-16 h-16 md:w-32 md:h-32;
}
.avatar-lg {
  @apply w-24 h-24 md:w-48 md:h-48;
}
.avatar-xl {
  @apply md:w-80 md:h-80;
  @apply w-full;
}

/** always keep this as the end */
@tailwind utilities;
